@import 'navbar.css';
@import 'places-list.css';
@import 'map-view.css';
@import 'google-map.css';
@import 'map-search-place.css';
@import 'place-edit.css';
@import 'img-upload.css';
<<<<<<< HEAD
@import '../general/app-menu.css';

=======
>>>>>>> 197ea882819e1da6e6ad9cfdaae24caed0f03fb8

.sus-places header {
    margin-bottom: 20px;
}

.sus-places main {
    height: calc(100vh - 90px);
}

.sus-places {
    padding: 0px 10px 10px;
}