.mail-preview {
    display: flex;
    align-items: center;
    padding: .5em;
}

.mail-preview > * {
    margin-right: 2%;
}

.sent-from, .title, .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sent-from {
    text-align: center;    
    min-width: 5em;
}

.title {
    min-width: 20%;
}

.content {
    flex-grow: 1;
}