.side-menu {
    position: absolute;    
    padding: 20px;
    width: 250px;
    top: 0;
    bottom: 0;
    left: -250px;
    background-color: burlywood;
    transition: left .5s;
}

.side-menu.show {
    left: 0px;
}

.new-mail-btn {
    display: none;
    margin-bottom: 10px;
}